#chart path {
 stroke-width: 1; /* control the countries borders width */
 stroke: #6699cc; /* choose a color for the border */
 cursor: pointer; /* display the pointer when the map hovers the map. */
}

